.main-page-charity {
  border-radius: 16px;
  width: 356px;
  height: 474px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  padding: 24px 40px;
}
.support-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 40px;
}
.support-funds-list {
  margin-bottom: 24px;
  /* list-style-type: decimal-leading-zero; */
}
.support-fund-number {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
}
.support-list-link:before {
  display: inline-block;
  content: counter(item, decimal-leading-zero) ' ';
  counter-increment: item;
  color: rgba(255, 255, 255, 0.4);
}
